<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] [%-5p] [%20.30c] - %msg%n" />
		</Console>

		<File name="FileAppender" fileName="logs/app.log" append="false"
			bufferedIO="false">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] [%-5p] [%20.30c] - %msg%n" />
		</File>
	</Appenders>
	<Loggers>
		<Logger level="debug" name="com.shalkevich.andrei.intexProject">
			<AppenderRef ref="FileAppender" />
		</Logger>

		<Root level="debug">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>